<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />

    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-s -->cale=1.0">
    <title>AMZING</title>
</head>
<body>
    <div>
        <header>
            Amzing
        </header>
        <aside>
            Shopping Categories
        </aside>
        <main>
            <ul>
                <li>Product1</li>
                <li>Product2</li>
            </ul>
        </main>
        <footer>
            All right reserved.
        </footer>
    </div>
    
</body>
</html>